@mixin top-menu {
    .top-menu {
        margin: $spacing-s $spacing-l;

        .item {
            padding: $spacing-s;
        }

        .item.username {
            background-color: white;
        }
    }
}
